@import 'reset.css';
@import '../slides/css/styles.css';

html, body {
  min-height: 800px;
}

body {
  background: black;
  color: white;
  font: 10px/1.3 'AvenirNext-Regular', Montserrat, Helvetica;
}

.wrapper * {
  position: absolute;
}

slides {
  -webkit-perspective: 600;
}

slide {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 1400px;
  height: 800px;
  background: black;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all .5s;
}

slide.visible {
  display: block;
  opacity: 1;
}

menu {
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  padding: 50px;
  z-index: 1000000;
  background: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, .5);
  -webkit-transform: scale3d(.95, .95, .95);
  -webkit-transition: all .3s;
}

menu.visible {
  display: block;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale3d(1, 1, 1);
}

.slide-list {
  -webkit-columns: 4;
  -webkit-column-gap: 50px;
}

.slide-list li {
  -webkit-column-break-inside: avoid;
}

.slide-list li {
  padding: 10px 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
  cursor: pointer;
  -webkit-transition: all .12s;
}

.slide-list li:hover {
  background: rgb(240, 240, 240);
}

.slide-list li.current {
  background: #4ea9f4;
  color: white;
}

.slide-list li.dimmed {
  opacity: .2;
}

menu .slide-number {
  display: inline-block;
  width: 30px;
  margin-right: 15px;
  color: rgba(0, 0, 0, .3);
  text-align: right;
}

slide[transition="zoom"] {
  -webkit-transform: scale(.8);
}

slide[transition="zoom"].visible {
  -webkit-transform: scale(1);
}

slide[transition="slideUp"] {
  -webkit-transform: translateY(100%);
}

slide[transition="slideUp"].visible {
  -webkit-transform: translateY(0);
}

slide[transition="slideDown"] {
  -webkit-transform: translateY(-100%);
}

slide[transition="slideDown"].visible {
  -webkit-transform: translateY(0);
}

slide[transition="swingTop"] {
  -webkit-transform-origin: top;
  -webkit-transform: rotateX(90deg);
}

slide[transition="swingTop"].visible {
  -webkit-transform: rotateX(0);
}


.menu-search {
  width: 100%;
  border: none;
  height: 40px;
  display: block;
  margin-bottom: 30px;
  font-family: Montserrat;
}

.wrapper {
  width: 1400px;
  height: 800px;
}

.full-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  /*mix-blend-mode: color;*/
  background: red;
}
