[name="A Look Back"] {
  background: #4197f1;
}

[name="A Look Back"] .image-overlay {
  position: absolute;
  top: 0;
  left: -100;
  width: 1520px;
  -webkit-transition: all .5s ease;
}

[name="A Look Back"] .btf-gif {
  -webkit-clip-path: polygon(-150px 0px, -150px 0px, 0px 800px, -150px 800px);
  -webkit-transition: all .5s ease;
}

[name="A Look Back"] .overlay {
  position: absolute;
  width: 1400px;
  height: 800px;
  opacity: 0.6;
  background-color: #4197f1;
}

[name="A Look Back"] .look-back {
  position: absolute;
  top: 630px;
  left: 30px;
  font-size: 150px;
  line-height: 120px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.5);
}

[name="A Look Back"] .step2 .btf-gif {
  -webkit-clip-path: polygon(-150px 0px, 1500px 0px, 1650px 800px, 0px 800px);
}

/*[name="A Look Back"] .blue {
  color: #4097f1;
}

[name="A Look Back"] .black {
  color: black;
}

[name="A Look Back"] .dim {
  opacity: 0.1 !important;
  -webkit-transition: all 1s ease;
}

[name="A Look Back"] .slide-content {
  background: white;
  position: absolute;
  width: 1400px;
  height: 800px;
  top: 0;
  left: 0;
}

[name="A Look Back"] .slide-content.step2 {
  background: #e78d46;
  -webkit-transition: all .5s;
}

[name="A Look Back"] .slide-content.step3 {
  background: #4096f1;
  -webkit-transition: all .5s;
}

[name="A Look Back"] .slide-content > div {
  font-size: 60px;
  color: black;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 60px;
  opacity: 0;
}

/* look back 

[name="A Look Back"] div.look-back {
  top: 340px;
  left: 236px;
  text-align: center;
  opacity: 1;
}

/*[name="A Look Back"] .step3 div.look-back {
  top: 850px;
  opacity: 0;
  -webkit-transition: all .3s ease;
}

[name="A Look Back"] .step2 div.look-back {
  top: 1200px;
  left: -400px;
  transform: rotate(-90deg);
  -webkit-transition: all 1s;
}

/* why 

[name="A Look Back"] div.why {
  top: 1200px;
  left: 1800px;
  font-size: 250px;
  color: white;
  text-align: center;
  transform: rotate(90deg);
  opacity: 1;
}

[name="A Look Back"] .step2 div.why {
  top: 600px;
  left: 600px;
  transform: rotate(0deg);
  -webkit-transition: all 1s ease;
}

/*name="A Look Back"] .step3 div.why {
  top: 1300px;
  opacity: 0;
  -webkit-transition: all .6s ease;
}*/

/* answer */

/*[name="A Look Back"] .step2 div.answer {
  top: 0;
  left: 0;
  opacity: 1;
}*/

/*[name="A Look Back"] .step3 div.answer {*/
  /*top: 400px;*/
  /*left: 30px;*/
  /*transform: scale(1);*/
  /*-webkit-transition: all .4s ease;*/
/*}*/

/* how 
[name="A Look Back"] div.how .part2 {
  opacity: 0;
  margin-top: -80px;
  position: absolute;
}

[name="A Look Back"] .step3 div.how {
  top: 100px;
  left: 30px;
  color: white;
  opacity: 1;
  font-size: 75px;
  line-height: 70px;
  -webkit-transition: all .4s ease;
}

[name="A Look Back"] .step4 div.how .part2 {
  opacity: 1;
  margin-top: 0px;
  -webkit-transition: all .3s ease;
}*/



