[name="Coding"] {
  background: black;
}


[name="Coding"] .approach-title {
  position: absolute;
  width: 872px;
  text-align: center;
  top: 225px;
  left: 264px;
  height: 350px;
}

[name="Coding"] .last-step {
  opacity: 0.2;
  transform: scale(1.2);
  -webkit-transition: all .5s;
}

[name="Coding"] .approach-wrapper {
  position: relative;
  display: inline-block;
  width: 350px;
}

[name="Coding"] .slide-icon {
  /*width: 200px;*/
  float: left;
}

[name="Coding"] .title {
  /*color: #2ad57e;*/
  color: black;
  font-size: 125px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 100px;
  left: 360px;
  width: 522px;
  display: inline-block;
  opacity: 0;
}

[name="Coding"] .title-show .title {
  opacity: 1;
  -webkit-transition: all .5s;
}

[name="Coding"] .title-show .approach-wrapper {
  width: 872px;
  -webkit-transition: all .5s;
}

[name="Coding"] .approach-title.mini {
  top: -98px;
  left: 740px;
  width: 872px;
  transform: scale(0.4);
  -webkit-transition: all .5s;
}

[name="Coding"] .dim {
  opacity: 0.4;
}

[name="Coding"] .topics {
  position: absolute;
  top: 200px;
  right: 0;
  padding-right: 42px;
  text-align: right;
}

[name="Coding"] .topic-title {
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-left: 100%;
  white-space: nowrap;
}

[name="Coding"] .topic-content {
  color: black;
  font-size: 30px;
  width: 100%;
}

[name="Coding"] .topic-content > div {
  padding: 10px 0;
  margin-left: 110%;
  white-space: nowrap;
  opacity: 0;
}

[name="Coding"] .topics.good {
  opacity: 0;
}

[name="Coding"] .topics.bad {
  opacity: 0;
}

[name="Coding"] .topics.show {
  opacity: 1;
  -webkit-transition: all .7s ease .5s;
}

[name="Coding"] .show .topic-title {
  margin-left: 0%;
  -webkit-transition: all .7s ease .5s;
}

[name="Coding"] .show .topic-content > div {
  margin-left: 0%;
  opacity: 1;
  -webkit-transition: all .7s ease-out;
}

[name="Coding"] .topics.hide {
  opacity: 0;
  -webkit-transition: all .7s ease;
}

[name="Coding"] .topics.hide-fast {
  opacity: 0;
  -webkit-transition: all .3s ease;
}

[name="Coding"] .delay1 {
  -webkit-transition-delay: 0.8s !important;
}

[name="Coding"] .delay2 {
  -webkit-transition-delay: 1.2s !important;
}

[name="Coding"] .delay3 {
  -webkit-transition-delay: 1.6s !important;
}

[name="Coding"] .ratings {
  position: absolute;
  top: 324px;
  width: 100%;
  /*opacity: 0;*/
}

[name="Coding"] .ratings.show {
  opacity: 1;
  -webkit-transition: all .5s;
}

[name="Coding"] .rating {
  color: white;
  font-size: 200px;
  font-weight: bold;
  line-height: 156px;
  width: 50%;
  opacity: 0;
  text-align: center;
  float: left;
}

[name="Coding"] .rating.visible.delay {
  -webkit-transition-delay: .5s;
}

[name="Coding"] .rating.visible {
  opacity: 1;
  -webkit-transition: all .5s linear .5s;
}

[name="Coding"] .rating-content {
  display: inline-block;
  padding-right: 24px;
}

[name="Coding"] .rating img {
  width: 150px;
  float: left;
}

[name="Coding"] .rating span {
  opacity: 1;
  float: left;
}

[name="Coding"] .design {
  top: 330px;
  left: 130px;
  -webkit-transition: all .5s;
}

[name="Coding"] .output {
  top: 330px;
  right: 130px;
  -webkit-transition: all .5s linear .4s;
}

[name="Coding"] .rating.done img {
  width: 177px;
  -webkit-transition: all .5s;
}

[name="Coding"] .rating.done {
  font-size: 250px;
  font-weight: bold;
  line-height: 202px;
  -webkit-transition: all .5s;
}

[name="Coding"] .bg {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 1400px;
  height: 1000px;
  background: #2ad57e;
  -webkit-clip-path: polygon(0px 0px, 1400px 0px, 1400px 800px, 0px 800px);
  -webkit-transition: all .5s;
  /*-webkit-clip-path: polygon(300px 0px, 750px 0px, 750px 900px, 0px 900px);*/
  /*-webkit-clip-path: polygon(478px 450px,1011px 440px,1027px -12px,652px -11px);*/
}

[name="Coding"] .bg.mask {
  -webkit-clip-path: polygon(600px 0px, 1400px 0px, 1400px 800px, 800px 800px);
  -webkit-transition: all .5s;
}

[name="Coding"] .image {
  position: absolute;
  top: 0;
  width: 1400px;
  height: 800px;
  left: 0;
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 800px, 0px 800px);
  opacity: 0;
}

[name="Coding"] .code {
  background: url(../images/old-site-code.png);
  background-color: white;
  -webkit-transition: all .5s;
}

[name="Coding"] .geocities {
  background: url(../images/geocities.png) -245px 0px no-repeat;
  background-color: white;
  -webkit-transition: all .5s;
}

[name="Coding"] .image.visible {
  opacity: 1;
  -webkit-clip-path: polygon(0px 0px, 575px 0px, 785px 800px, 0px 800px);
  -webkit-transition: all .5s;
}
