[name="EWW"] .overlay {
  background: rgb(0, 255, 119);
}

[name="EWW"] .eww {
  opacity: .9;
}

[name="EWW"] h1 {
  position: absolute;
  top: 560px;
  left: 150px;
  z-index: 2;
  font-size: 120px;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  color: white;
}

[name="EWW"] h2 {
  position: absolute;
  top: 470px;
  left: 0;
  right: 0;
  z-index: 3;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 1em;
  text-align: center;
  color: white;
}
