[sub="5d"] {
  width: 1400px;
  height: 800px;
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve-3d;
}

[sub="5d"] .clock-face {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 3000px;
  height: 3000px;
  border: 90px solid rgb(90, 90, 90);
  border-radius: 50%;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateX(-780px) translateZ(-70px) rotateZ(90deg);
  -webkit-transition: all 1s;
}

[sub="5d"] .face {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateZ(-350px);
  -webkit-transition: all 1s;
}

[sub="5d"] .face.visible {
  opacity: 1;
  -webkit-transform: translateZ(-150px);
}

[sub="5d"] .fill {
  fill: transparent;
  stroke: transparent;
  stroke-width: 5px;
  -webkit-transition: all .5s;
}

[sub="5d"] .x-fill.filled {
  fill: #5CA9DD;
  stroke: #5CA9DD;
}

[sub="5d"] .y-fill.filled {
  fill: #F7DC78;
  stroke: #F7DC78;
}

[sub="5d"] .z-fill.filled {
  fill: #EA4877;
  stroke: #EA4877;
}

[sub="5d"] .two-d-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1em;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 10px;
  line-height: 1em;
  text-align: center;
  color: white;
  -webkit-transition: all .5s;
}

[sub="5d"] .two-d-text.hidden {
  display: none;
}

[sub="5d"] .axis {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all 1s;
}

[sub="5d"] .axises {
  position: absolute;
  top: 0;
  left: 0;
  width: 1400px;
  height: 800px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1s;
}

[sub="5d"] .x {
  width: 1393px;
  height: 518px;
}

[sub="5d"] .y,
[sub="5d"] .z {
  width: 518px;
  height: 1393px;
}

[sub="5d"] .x {
  opacity: 0;
  -webkit-mask: url(../images/x-mask.svg);
  -webkit-mask-size: 200% 200%;
  -webkit-mask-position: center;
  -webkit-transform-origin: 115px 267px;
  -webkit-transform: translateX(-1000px) translateY(0);
}

[sub="5d"] .y {
  opacity: 0;
  -webkit-mask: url(../images/y-mask.svg);
  -webkit-mask-size: 200% 200%;
  -webkit-mask-position: center;
  -webkit-transform-origin: 267px 115px;
  -webkit-transform: translateX(-280px) translateY(-1000px) translateZ(10px);
}

[sub="5d"] .z {
  opacity: 0;
  -webkit-mask: url(../images/z-mask.svg);
  -webkit-mask-size: 200% 200%;
  -webkit-mask-position: center;
  -webkit-transform-origin: 267px 1315px;
  -webkit-transform: translateZ(-1200px) translateY(-900px) rotateX(-90deg) rotateY(-90deg);
}

/* with x */
[sub="5d"] .axises.with-x .x {
  opacity: 1;
  -webkit-transform: translateX(-100px) translateY(0);
}

/* with y */
[sub="5d"] .axises.with-y .x {
  -webkit-transform: translateX(-100px) translateY(80px) translateZ(-10px);
}

[sub="5d"] .axises.with-y .y {
  opacity: 1;
  -webkit-transform: translateX(-280px) translateY(-310px) translateZ(10px);
}

/* with z */
[sub="5d"] .axises.with-z {
  -webkit-transform: rotateX(90deg) rotateZ(-70deg) translateZ(-180px) translateX(-100px) scale3d(.8, .8, .8) rotateX(-10deg) rotateY(-21deg) rotateZ(-4deg);
}

[sub="5d"] .axises.with-z .x {
  -webkit-transform: translateX(0) translateY(80px) translateZ(-90px);
}

[sub="5d"] .axises.with-z .y {
  -webkit-transform: translateX(-230px) translateY(-510px) translateZ(150px);
}

[sub="5d"] .axises.with-z .z {
  opacity: 1;
  -webkit-transform: translateZ(-720px) translateY(-830px) rotateX(-90deg) rotateY(-90deg);
}

/* clock */
[sub="5d"] .axises.clock {
  -webkit-transform: rotateX(90deg) rotateZ(-66deg) translateZ(0) translateX(-130px) scale3d(.3, .3, .3) rotateX(0) rotateY(-90deg) rotateZ(0);
}

[sub="5d"] .axises.clock .clock-face {
  opacity: 1;
}

[sub="5d"] .axises.clock .x {
  -webkit-mask-size: 100% 100%;
  -webkit-transform: translateX(640px) rotateZ(-50deg) scaleY(0.8) scaleX(1.2);
}

[sub="5d"] .axises.clock .y {
  -webkit-mask-size: 100% 100%;
  -webkit-transform: translateY(620px) translateZ(50px) rotateZ(-30deg) scaleX(0.8) scaleY(0.9);
}

[sub="5d"] .axises.clock .z {
  -webkit-mask-size: 100% 100%;
  -webkit-transform: translateY(-620px) rotateZ(-20deg) translateZ(-50px) scaleX(0.4) scaleY(1.55);
}

@-webkit-keyframes SECONDS {
  from {
    -webkit-transform: translateY(-620px) rotateZ(-20deg) translateZ(-50px) scaleX(0.4) scaleY(1.55);
  }

  to {
    -webkit-transform: translateY(-620px) rotateZ(340deg) translateZ(-50px) scaleX(0.4) scaleY(1.55);
  }
}

@-webkit-keyframes MINUTES {
  from {
    -webkit-transform: translateX(640px) rotateZ(-50deg) scaleY(0.8) scaleX(1.2);
  }

  to {
    -webkit-transform: translateX(640px) rotateZ(310deg) scaleY(0.8) scaleX(1.2);
  }
}
