[name="Image Editors"] {
  background: black;
}

[name="Image Editors"] .title {
  /*color: #2ad57e;*/
  color: black;
  font-size: 125px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 350px;
  left: 0;
  right: 0;
  margin: auto;
  width: 1002px;
  display: inline-block;
}


[name="Image Editors"] .title.step2 {
  top: 275px;
  -webkit-transition: all .5s;
}

[name="Image Editors"] .ratings {
  position: absolute;
  top: 410px;
  left: 0;
  right: 0;
  margin: auto;
  width: 408px;
  text-align: center;
  opacity: 0;
}

[name="Image Editors"] .ratings.step2 {
  opacity: 1;
  -webkit-transition: all .5s;
}

[name="Image Editors"] .rating {
  color: black;
  font-size: 50px;
  font-weight: bold;
  float: left;
  line-height: 105px;
  margin: 0 30px;
}

[name="Image Editors"] .rating img {
  width: 100px;
  float: left;
}

[name="Image Editors"] .rating span {
  float: left;
}

[name="Image Editors"] .code {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 1400px;
  height: 1000px;
  background: #ee3576;
  /*-webkit-clip-path: polygon(300px 0px, 750px 0px, 750px 900px, 0px 900px);*/
  /*-webkit-clip-path: polygon(478px 450px,1011px 440px,1027px -12px,652px -11px);*/
}
