[name="Image Editors"],
[name="Image Editors"] .wrapper {
  background: #4197f1;
  -webkit-transition: all .5s ease;
}

[name="Image Editors"] .wrapper {
  height: 100%;
}

[name="Image Editors"] .no-trans div,
[name="Image Editors"] .no-trans img {
  -webkit-transition: none !important;
}

[name="Image Editors"] .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1400px;
  -webkit-clip-path: polygon(-150px 0px, -150px 0px, 0px 800px, -150px 800px);
  -webkit-transition: all .5s ease;
}

[name="Image Editors"] .facepalm {
  -webkit-clip-path: polygon(-100px 800px, 1500px 800px, 1500px 800px, 0px 800px);
}

[name="Image Editors"] .overlay {
  position: absolute;
  width: 1400px;
  height: 800px;
  opacity: 0.6;
  background-color: #4197f1;
  -webkit-clip-path: polygon(-150px -100px, 1400px -100px, 1400px 800px, 0px 800px);
  -webkit-transition: all .5s ease;
}

[name="Image Editors"] .overlay-black {
  position: absolute;
  width: 1400px;
  height: 800px;
  background: black;
  opacity: 0.4;
  -webkit-clip-path: polygon(-100px 800px, 1500px 800px, 1500px 800px, 0px 800px);
  -webkit-transition: all .5s ease;
}

/* title */

[name="Image Editors"] .approach-title {
  position: absolute;
  width: 872px;
  text-align: center;
  top: 225px;
  left: 264px;
  height: 350px;
  -webkit-transition: all .5s ease;
}

[name="Image Editors"] .approach-wrapper {
  position: relative;
  display: inline-block;
  width: 350px;
  -webkit-transition: all .5s ease;
}

[name="Image Editors"] .title {
  /*color: #2ad57e;*/
  color: white;
  font-size: 125px;
  text-align: left;
  line-height: 111px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 71px;
  left: 360px;
  width: 522px;
  display: inline-block;
  opacity: 0;

  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  -webkit-transition: all .5s ease;
}

[name="Image Editors"] .slide-icon {
  float: left;
  -webkit-filter: invert(100%);
}

/* scale */

[name="Image Editors"] .ratings {
  position: relative;
  top: 480px;
  width: 100%;
  height: 90px;
  opacity: 0;
  -webkit-transition: all .5s ease;
}

[name="Image Editors"] .rating-range {
  position: absolute;
  top: 0;
  width: 980px;
  height: 60px;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  opacity: 0.1;
}

[name="Image Editors"] .rating {
  position: absolute;
  top: 0;
  height: 60px;
  width: 50%;
}

[name="Image Editors"] .rating.left {
  right: 48.5%;
  -webkit-clip-path: polygon(0px 480px, 683px 480px, 717px 540px, 0px 540px);
}

[name="Image Editors"] .rating.right {
  left: 48.5%;
  -webkit-clip-path: polygon(683px 480px, 1400px 480px, 1400px 540px, 718px 540px);
}

[name="Image Editors"] .ratings .bar {
  position: absolute;
  top: 0;
  height: 50px;
  background: white;
  padding: 5px;
}

[name="Image Editors"] .ratings .divider {
  position: absolute;
  width: 1px;
  height: 90px;
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  border-left: 2px solid white;
  transform: skewX(30deg);
}

[name="Image Editors"] .ratings .bar-icon {
  width: 50px;
}

[name="Image Editors"] .ratings .design {
  right: 0;
  width: 0px;
  background: #4197f1;
  margin-right: 1px;
  text-align: left;
  -webkit-transition: all .5s ease;
}

[name="Image Editors"] .ratings .output {
  left: 0;
  width: 0px;
  background: #e42c64;
  margin-left: 1px;
  text-align: right;
  opacity: 0;
  -webkit-transition: all .5s;
}

/* step 2 */

[name="Image Editors"] .step2 .approach-title {
  left: 233px;
}

[name="Image Editors"] .step2 .title {
  opacity: 1;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  -webkit-transition: all .3s ease;
}

[name="Image Editors"] .step2 .approach-wrapper {
  width: 933px;
}

/* step 3 */

[name="Image Editors"] .step3 .screenshot {
  -webkit-clip-path: polygon(-150px 0px, 1400px 0px, 1550px 800px, 0px 800px);
  -webkit-transition: all .4s ease;
}

[name="Image Editors"] .step3 .approach-title {
  opacity: 0;
  -webkit-transition: all .4s ease .3s;
}

[name="Image Editors"] .step3 .overlay {
  -webkit-clip-path: polygon(1400px -100px, 1400px -100px, 1550px 800px, 1550px 800px);
  -webkit-transition: all .4s ease .3s;
}

/* step 4 */

[name="Image Editors"] .wrapper.step4 {
  background: black;
  -webkit-transition: none;
  /*-webkit-transition: all .5s ease;*/
}

[name="Image Editors"] .step4 .screenshot {
  -webkit-clip-path: polygon(-100px 800px, 1500px 800px, 1500px 800px, 0px 800px);
  -webkit-transition: all .5s ease;
}

[name="Image Editors"] .step4 .overlay {
  -webkit-clip-path: polygon(1400px 800px, 1400px 800px, 1550px 800px, 1550px 800px);
  /*-webkit-clip-path: polygon(-100px 800px, 1500px 800px, 1500px 800px, 0px 800px);*/
  -webkit-transition: all .5s ease;
}

[name="Image Editors"] .step4 .approach-title {
  top: 140px;
  opacity: 1;
  -webkit-transition: top .5s ease, opacity .4s ease .3s;
}

/*[name="Image Editors"] .step4 .slide-icon {
  -webkit-filter: invert(100%);
  -webkit-transition: all .5s;
}*/

[name="Image Editors"] .step4 .ratings {
  opacity: 1;
  -webkit-transition: all .5s linear .5s;
}

[name="Image Editors"] .step4 .design {
  width: 500px;
  -webkit-transition: all .8s ease 1s;
}

[name="Image Editors"] .step4 .output {
  width: 0px;
  -webkit-transition: all .8s ease 1s;
}

/* step 5 */

/*[name="Image Editors"] .step5 .overlay,*/
[name="Image Editors"] .step5 .facepalm {
  -webkit-clip-path: polygon(-100px -100px, 1500px -100px, 1500px 800px, 0px 800px);
  -webkit-transition: all .5s ease;
}

[name="Image Editors"] .step5 .overlay-black {
  -webkit-clip-path: polygon(-100px -100px, 1500px -100px, 1500px 800px, 0px 800px);
  -webkit-transition: none;
}
