[name="Me?"] .overlay {
  background: rgb(0, 255, 119);
}

[name="Me?"] .me {
  left: -100px;
  width: 1600px;
}

[name="Me?"] h1 {
  position: absolute;
  top: 350px;
  left: 0;
  right: 0;
  z-index: 2;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 10px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
