[name="Me?"] .overlay,
[name="Me LDE?"] .overlay {
  background: rgb(94, 182, 255);
}

[name="Me?"] .me,
[name="Me LDE?"] .me {
  left: -100px;
  width: 1600px;
}

[name="Me?"] h1,
[name="Me LDE?"] h1 {
  position: absolute;
  top: 350px;
  right: 100px;
  width: 400px;
  z-index: 2;
  font-size: 120px;
  font-weight: 700;
  line-height: 0.9em;
  text-align: right;
  text-transform: uppercase;
  color: white;
}
