[name="Race"] .product {
  width: 1400px;
  height: 800px;
}

[name="Race"] .url {
  top: 140px;
  width: 100%;
  font-size: 30px;
  text-align: center;
  opacity: 0;
  z-index: 10;
}

[name="Race"] .logo {
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}

[name="Race"] .macaw .logo {
  width: 300px;
}

[name="Race"] .webflow .logo {
  width: 289px;
}

[name="Race"] .reflow .logo {
  width: 142px;
}

[name="Race"] .uxpin .logo {
  width: 142px;
}

[name="Race"] .screen {
  bottom: -50px;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}

[name="Race"] .product.visible .screen {
  bottom: 0;
  opacity: 1;
  -webkit-transition: all 1s .5s;
}

[name="Race"] .product.visible .logo {
  opacity: 1;
  -webkit-transition: all 1s;
}

[name="Race"] .product.visible .url {
  opacity: .5;
  -webkit-transition: all 1s .7s;
}

[name="Race"] .product.macaw .logo {
  top: 40px;
}

[name="Race"] .product.macaw.visible .logo {
  top: 70px;
}

[name="Race"] .product.webflow .logo {
  top: 30px;
}

[name="Race"] .product.webflow.visible .logo {
  top: 50px;
}

[name="Race"] .product.reflow .logo {
  top: 0px;
}

[name="Race"] .product.reflow.visible .logo {
  top: 30px;
}

[name="Race"] .product.reflow .url {
  top: 190px;
}

[name="Race"] .product.uxpin .logo {
  top: 0px;
}

[name="Race"] .product.uxpin.visible .logo {
  top: 30px;
}

[name="Race"] .product.uxpin .url {
  top: 190px;
}
