[name="Streams"] .streams {
  left: -160px;
  width: 1920px;
}

[name="Streams"] .overlay {
  background: rgb(0, 139, 255);
}

[name="Streams"] h1 {
  position: absolute;
  top: 350px;
  left: 0;
  right: 0;
  z-index: 2;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
  line-height: 1em;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 50px rgba(0, 0, 0, 0.7);
}
