@import 'book.css';
@import 'overlap.css';
@import 'race.css';
@import 'two-d.css';
@import 'dynamic-design.css';
@import 'five-d.css';
@import 'eww.css';

[name="Title"] {
  background: red;
}

[name="Intro"] {
  background: blue;
}

[name="Macaw"] {
  background: black;
}
