[name="Tech"] {
  background: #4eacf2;
  /*-webkit-transition: background 2s;*/
}

[name="Tech"] h1 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1em;
  margin: auto;
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  color: white;
  -webkit-transition: all .5s;
}

[name="Tech"] h1.hidden {
  opacity: 0;
}

[name="Tech"] .html-logo {
  top: 280px;
  left: 160px;
  width: 260px;
}

[name="Tech"] .css-logo {
  top: 290px;
  left: 550px;
  width: 280px;
}

[name="Tech"] .v8-logo {
  top: 280px;
  left: 940px;
  width: 300px;
}

[name="Tech"] .node-logo {
  top: 320px;
  left: 1000px;
  width: 310px;
}
